@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@400;500;700;800&family=Roboto:ital,wght@0,100;0,300;0,500;1,400;1,900&display=swap");

.App {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  overscroll-behavior: auto;
  /* max-width: 100%; */
  overflow-x: hidden;
}

@media (max-width: 420px) {
  .App {
    color: whitesmoke;
    height: 100vh;
    background-color: rgb(19, 19, 19);
    /* justify-content: flex-start; */
    max-width: 100%;
    overflow-x: hidden;
  }

  #title {
    font-family: "Abril Fatface", cursive;
    font-size: large;
    letter-spacing: 0.1em;
    padding: 10px 25px;
  }
  .div-title {
    position: static;
    background-color: #2c3036;
  }
  .div-game-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 92vh;
    justify-content: space-between;
    align-items: center;
    overscroll-behavior: auto;
  }
  .buttons {
    padding: 0 80px;
    display: flex;
    background-color: #922323;
    justify-content: space-evenly;
    max-width: 25vh;
    border-radius: 20px;
    gap: 20px;
  }

  .buttons button {
    float: left;
    cursor: pointer;
    padding: 5px 35px;
    font-size: 25px;
  }
  .buttons button:hover {
    background-color: pink;
  }
}
