@media (max-width: 420px) {
    .leaderboard-container {
        display: flex;
        flex-direction: column;
        /* background-color: aqua; */
        width: 40vh;
        /* height: 86vh; */
        padding: 0;
    }
    #leaderboard {
        margin: 12px auto;
        padding: 5px 15px;
        background-color: #922323;
        /* background-color: black;? */
    }
    .every-users:nth-of-type(odd) {
        background-color: rgb(88, 88, 88);
    }
    .users-leaderboard {
        display: flex;
        flex-direction: column;
        background-color: black;
        color: aliceblue;
        border-radius: 20px;
        padding: 0;
        margin: 5px;

        /* width: 90%; */
    }
    .every-users {
        display: flex;
        justify-content: space-between;
        align-content: stretch;
        flex-direction: row;
        background-color: #2c3036;
        padding: 0px 15px;
        margin: 2px 5px;
        max-height: 4em;
    }
    .every-users {
    }
}
