@media (max-width: 420px) {
    .results {
        display: flex;
        gap: 20px;
        font-size: 12px;
    }

    .correct {
        display: flex;
        margin: 0 auto;
        padding: 0;
        background-color: greenyellow;
        padding: 20px;
        border-radius: 15px;
        margin: 10px;
    }

    .wrong {
        display: flex;
        margin: 0 auto;
        border-radius: 15px;
        padding: 20px;
        background-color: rgb(250, 48, 48);
        margin: 10px;
    }
    .header {
        list-style: none;
    }
    ul {
        padding: 0;
    }
    .every-answer {
        font-size: 15px;
        font-weight: bold;
    }
}
.results {
    background-color: purple;
}
